@import "mixin";

.mc {
  @include size(100%);
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

@media (min-width: 769px) {
  .mcm{
    @include size(100%);
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    z-index: 10;
    display: none;
    top: 107px;
  }
  .showmcm{
    display: inline-block;
  }
  // style header
  .logo {
    @include size(100px, auto);
    margin-right: 60px;
  }
  .icon-menu {
    display: none;
  }
  .search {
    @include size(465px, 37px);
    border: 1px solid #909090;
    border-radius: 35px;
    margin-right: auto;
    text-align: center;
    padding-left: 17px;
    padding-right: 10px;
    button{
      padding: 0;
    }
    input {
      @include size(100%)
    }
    .icon-search{
      font-size: 20px;
      cursor: pointer;
      background: transparent;
    }
  }
  //style menu top
  #menu-top {
    [id*='drop-menu-child-'] {
      display: none;
    }

    .main-menu {
      display: flex;
      height: 100%;
    }

    .menu {
      height: 100%;
      padding-left: 130px;
      position: relative;
    }

    .home {
      display: none !important;
    }

    ul, a, li {
      height: 100%;
      display: flex;
      align-items: center;
    }

    li {
      float: left;
      padding: 0 30px;
      text-transform: capitalize;
    }

    .icon-angle-down {
      display: none;
    }
  }
  .back {
    display: none !important;
  }
  .drop-menu {
    position: relative;
    &:hover {
      background: #ffffff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      [class*='icon-']::before, a {
        color: #999999 !important;
      }
      .list-cate {
        visibility: visible;
      }
      li {
        &::after {
          display: inline-block;
        }
      }
    }
  }
  .drop-menu > li {
    overflow: hidden;
    &::after {
      display: none;
      content: '';
      position: absolute;
      height: 6px;
      width: 100%;
      background: #ffffff;
      left: 0;
      top: 100%;
      transform: translateY(-100%);
      z-index: 1000;
    }
  }
  .list-cate {
    visibility: hidden;
    background: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    width: 400px;
    padding: 0 0 10px 0 ;
    ul {
      flex-direction: column;
      align-items: start !important;
    }
    li {
      width: 100%;
      padding: 0 20px !important;
      position: relative;
      height: 30px !important;
      &:after{
        visibility: hidden;
        content: '';
        width: 3px;
        height: 100%;
        background: #b953a4;
        position: absolute;
        right: 0px;
      }
      &:hover{
        &:after{
          visibility: visible;
        }
        &>[class*='child-']{
          display: inline-block;
        }
      }
    }
    a{
      text-transform: none !important;
      &:hover{
        color: #b953a4 !important;
      }
    }
  }
  [class*='child-']{
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }
  //  style footer
  .f-1 {
    width: 50%;
    padding-right: 160px;
  }

}
.display {
  display: none;
}
@media (max-width: 768px) {

  // style header
  body {
    padding: 0 10px;
  }
  .logo{
    //width: 25% !important;
    order: 3;
    margin: 0 auto;
  }
  .search {
    transition: all 0.5s;
    width: 0;
    order: 2;
    //margin-right: auto;
    input {
      display: none;
    }

    .icon-search {
      font-size: 25px;
      display: flex;
      align-items: center;
    }
  }

  .container {
    justify-content: space-between
  }
  .search-click {
    position: fixed;
    left: 10px;
    z-index: 1000;
    width: 97%;
    height: 40px;
    background: #fff;
    border-radius: 35px;
    padding: 0 8px 0 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    input {
      width: 80%;
      background: #fff;
      height: 100%;
      display: inline-block;
    }
  }
  .icon-user{
    font-size: 20px;
    padding: 0 8px;
  }
  .icon-filter{
    margin-left: 0 !important;
    padding:0 8px ;
  }

  //style menu top

  .show {
    display: block;
    max-height: 9999px;
    transition: all 3s;
  }
  .hide {
    max-height: 0;
    transition: all 0.6s;
  }
  .list {
    overflow: hidden;
  }
  #menu-top {

    background: #ffffff;
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    right: 100%;

    [class*='icon-']::before, a {
      color: #666666 !important;
    }
    [class*='child-']{
      display: none;
    }
    a {
      margin-right: auto;
      display: flex;
      align-items: center;
    }

    li {
      font-size: 20px;
      height: 60px;
      display: flex;
      align-items: center;
      background: #f6f6f6;
      padding: 0 20px;
    }

    li + li {
      border-top: 1px solid #eeeeee;
    }

    .drop-menu + .drop-menu {
      border-top: 2px solid #eeeeee;
    }

    .menu {
      overflow-y: auto;
      position: relative;
    }
  }
  .list-cate {
    padding: 0 20px;

    li {
      background: #ffffff !important;
      padding: 20px 0 !important;
      font-size: 15px !important;
    }
  }
  .icon-menu {
    font-size: 25px;
    display: flex;
    align-items: center;
    order: 1;
  }
  .home {
    font-size: 30px !important;
    text-align: center;
    background: #ffffff !important;

    a {
      margin: 0 auto;
    }
  }
  #top-pros {
    .pro button {
      padding: 7px 20px;
    }
  }

  [id*='drop-menu-child-'] {
    background: #ffffff;
    height: 100%;
    position: absolute;
    top: 60px;
    z-index: 10000;
    transform: translateX(-100%);
    transition: all 0.3s;

    li {
      padding: 20px !important;
      background: #ffffff !important;
      font-size: 15px !important;
    }

    span {
      @include size(25px)
    }

    .back {
      font-family: 'osB';
      border-top: 1px solid #eeeeee;
      font-size: 20px !important;

      a {
        color: #333333 !important;
      }
    }
  }

  //  style main
  #main {
    overflow-x: hidden;
  }
  #slide-bot{
    overflow-x: hidden;
  }
  #main-da{
    overflow: hidden;
  }
  //  style footer
  footer {
    .container {
      flex-direction: column;
    }

    .f-2 {
      order: 1;
      margin-bottom: 20px;
    }

    .f-1 {
      order: 2;

      .logo {
        width: 30%;
      }
    }
  }
}
