@charset "UTF-8";

@font-face {
  font-family: "untitled-font-7";
  src:url("../fonts/untitled-font-7.eot");
  src:url("../fonts/untitled-font-7.eot?#iefix") format("embedded-opentype"),
  url("../fonts/untitled-font-7.woff") format("woff"),
  url("../fonts/untitled-font-7.ttf") format("truetype"),
  url("../fonts/untitled-font-7.svg#untitled-font-7") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-7" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-7" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff;
}

.icon-book-1:before {
  content: "\61";
}
.icon-star:before {
  content: "\62";
}
.icon-user:before {
  content: "\63";
}
.icon-users:before {
  content: "\64";
}
.icon-rss-square:before {
  content: "\65";
}
.icon-wrench:before {
  content: "\66";
}
.icon-lightbulb-o:before {
  content: "\67";
}
.icon-briefcase:before {
  content: "\68";
}


.icon-home:before {
  content: "\6c";
}
.icon-photo:before {
  content: "\6d";
}
.icon-filter:before {
  content: "\6e";
  color: #943c82;
  font-size: 25px;
  margin-right: 0;
}
.icon-facebook-official:before {
  content: "\6f";
}
.icon-google-plus-square:before {
  content: "\70";
}
.icon-envelope-o:before {
  content: "\71";
}
.icon-star-rate:before {
  content: "\62";
  color: #ffcc00;
}
.icon-star:before {
  content: "\62";
  color: #dddddd;
}
.icon-user:before {
  content: "\63";
  color: #943c82;
}
.icon-angle-down:before {
  content: "\69";
  color: #999999 !important;
  font-size: 26px;
  margin: 0;
}

.icon-menu:before {
  content: "\6a";
  color: #943c82;
}
.icon-search:before {
  content: "\6b";
  color: #943c82;
}
